{% extends 'layouts/default.twig' %}
{% block content %}

    <h3>Hi! This is the Boiler Plate!</h3>
    <p>
        <ul>
            <li>Slim Framework</li>
            <li>Twig Views</li>
            <li>Authentication with Session</li>
            <li>Eloquent ORM</li>
            <li>Database Migrations with Phinx</li>
            <li>Input validation with Respect Validation</li>
        </ul>
    </p>

{% endblock %}